fastapi==0.111.0
uvicorn==0.29.0
sqlalchemy==2.0.36
psycopg2-binary==2.9.9
pydantic-settings==2.3.4
aiohttp==3.9.5
alembic==1.13.2
PyJWT==2.8.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.0
pytest==8.3.2
pytest-asyncio==0.23.8
pytest-mock==3.14.0